{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules":{
    "no-console":0,
    "react/jsx-uses-vars": [2]
  },
  "extends": "eslint:recommended",
  "plugins": [
    "react"
  ]
}